.contact-container {
    background-color: #0E141B; 
    color: #fbfdff; 
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .contact-container h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 0rem;
    user-select: none;
  }
  
  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
    border-bottom: 2px solid #62F8EC;
  }
  
  .social-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #0E141B;
    padding: 1rem 2rem;
    border-radius: 8px;
    text-decoration: none;
    color: #FFFFFF;
    transition: background 0.3s ease, transform 0.3s ease;
  }
  
  .social-item:hover {
    transform: translateY(-5px);
    color: #1ABC9C;

  }
  
  .social-item img {
    width: 24px;
    height: 24px;
  }

  .socials a {
    text-decoration: none;
  }

  footer {
    font-weight: 100;
  }

  