.my-works {
    background-color: #0E141B; 
    color: #fbfdff;
    padding: 4rem 2rem;
    text-align: center;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
  }
  
  .my-works h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 2rem;
    user-select: none;

  }
  
  .work-list {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 0;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 0;
  }
  
  .work-item {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    height: 300px;
  }
  
  .work-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .work-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .work-title {
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
  }
  